.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  margin: 3rem;
  width: 60%;
  line-height: 1.1;
}

.header h1 {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.header h2 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
}

.login-form {
  border-radius: 1rem;
  background: #485188;
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 0.6rem solid white;
  outline-offset: 0.6rem;
  text-align: center;
}

.login-form-group {
  width: 90%;
  display: inline-block;
  margin-bottom: 0.825rem;
}


.login-form-group input {
  padding: 0.85rem;
  width: 100%;
}

.login-form-actions {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: baseline;
  height: 6.25rem;
  width: 90%;
}

.login-form-actions p {
  color: #fff;
  font-size: 1.65rem;
  align-self: flex-start;
}

.login-form-actions a {
  margin-right: 1.5rem;
}

.lock-icon {
  border: 0.2rem solid #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}
